*{
   margin:0;
}
nav{
    height:18vh;
    background-color: rgb(19, 202, 202);
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid white;
}
.imgshape{
    height:75px;
    width:75px;
    margin:20px 25px;
}
.leftbar{
  display:flex;
  gap:30px;
  color:white;
  align-items:center;
  font-size: larger;
  margin-right:50px;
  cursor: pointer;
  
}
.iconshape{
    height:30px;
    width:30px;
}
.firstimg{
    background-image: url("Images/tropical-header.png");
    width:100%;
    height:600px;
    background-size:cover;
    background-position:center;
    margin-top:120px;

    color:white;
    display:flex;
    align-items:center;
    font-size:50px;
    font-weight:bolder;
    font-family:'Fredoka One', cursive;
}
.align{
    margin-left:50px;
}
.button{
    margin-top:10px;
    border-radius:2cm;
    height:40px;
    width:150px;
    background:transparent;
    border:2px solid white;
    font-size: 20px;
    color: white;
    padding:0px 5px;
    cursor:pointer;
}
.secondimg{
    height:600px;
    width:100%;
    background-image: url("Images/image2.png");
    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    color: white;
}
.align2{
     background-color:rgba(10,91,43,0.8);
     padding:20px 100px;
     border-radius:100px;
     height:140px;
}
.align2 p{
    font-size:large;
}
.thirdimg{
    height:600px;
    width:100%;
    background-image: url("Images/image3.png");
    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    color: white;
}
.align3{
     background-color:rgba(10,91,43,0.8);
     padding:20px 80px;
     border-radius:100px;
     height:140px;
}
.footer{
    height:17vh;
    background-color:rgb(69, 66, 66);
    color: white;
} 
.footer1{
    display:flex;
    justify-content:center;
    gap:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    padding-top:15px;
}
.footer2
{
 margin-top:15px;
 text-align: center;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size:x-small;
}
.stick{
    position: fixed;
    width:100%;
    top:0;
}
nav img{
    cursor:pointer;
}
.leftbar p:hover{
    text-decoration: underline;
}
.footer1 p:hover{
    text-decoration: underline;
}